doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="style.css", data-inline)
  body
    div.frame.center
      img.head(src="https://doc.oortcloud.tech/img/logo.png" alt="Oort - Système de gestion des données")
      h3.head
        | #{t('appInvitation.sharedBy', { senderName: senderName })}
        |
        span.oort-color #{appName} 
        | #{t('appInvitation.sharedApp')}
      
      p #{t('appInvitation.accessInfo', { senderName: senderName, appName: appName })}
      p
        a.button(href=url target="_blank") #{t('appInvitation.accessButton')}
      p
        strong #{t('appInvitation.noteTitle')}
        | #{t('appInvitation.noteContent')}
        a(href=url) #{url}
        |.
      p.footer
        | Oort Cloud Technology ⋅ 
        | Calle Penas, 70, 28410 Manzanares el Real ⋅ 
        | Madrid Spain - B87964946
