doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="style.css", data-inline)
  body
    div.frame.large
      div.center: img.head(src="https://doc.oortcloud.tech/img/logo.png" alt="Oort - Data management system")

      h3.head: !=t('createAccountToApp.title', { senderName: senderName, appName: appName })

      p #{t('createAccountToApp.accessInfo')}
      ol 
        li: span!=t('createAccountToApp.accessSteps.1', { url: registerUrl })
        li: span #{t('createAccountToApp.accessSteps.2')}
        li: span!=t('createAccountToApp.accessSteps.3', { url: url })
  
      p.center: a.button(href=registerUrl target="_blank") #{t('createAccountToApp.registerButton')}

      p
        strong #{t('createAccountToApp.noteTitle')}
        | #{t('createAccountToApp.noteContent')}
      p
        | #{t('createAccountToApp.registerDirectly')}
        a(href=registerUrl) #{registerUrl}
        | .

      p.footer.center
        | Oort Cloud Technology ⋅ 
        | Calle Penas, 70, 28410 Manzanares el Real ⋅ 
        | Madrid Spain - B87964946
