doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="style.css", data-inline)
  body
    div.frame.center
      img.head(src="https://doc.oortcloud.tech/img/logo.png" alt="Oort - Data management system")
      h3.head
        | #{senderName} shared the  
        span.oort-color #{appName} 
        | application with you
      
      p #{senderName} shared with you the #{appName} application on Oort.
      p You can access this application by clicking the button below:
      p
        a.button(href=url target="_blank") Open the application
      p
        strong Note: 
        | If you get a 404 page, make sure you’re signed with your account. 
        | You can also access the application page directly at 
        a(href=url) #{url}
        | .
      p.footer
        | Oort Cloud Technology ⋅ 
        | Calle Penas, 70, 28410 Manzanares el Real ⋅ 
        | Madrid Spain - B87964946
